.card {
  width: 150px;
  height: 200px;
  background-color: #99cccc;
  border: solid 2px #669999;
  color: #fff;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  user-select: none;
  border-radius: 4px;

  &:hover {
    border-color: #006666;
  }
}
