<div class="card-list">
  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div class="group-wrapper primary-section">
    <div
      [id]="primaryCardGroup.id"
      class="group multi-line"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="primaryCardGroup.cards"
      [cdkDropListConnectedTo]="connectedCardGroupIds"
      (cdkDropListDropped)="drop($event)"
    >
      <app-drag-and-drop-card
        class="card"
        cdkDrag
        *ngFor="let card of primaryCardGroup.cards; trackBy: trackById"
        [card]="card"
      ></app-drag-and-drop-card>
    </div>
  </div>

  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div class="group-wrapper secondary-section">
    <div
      *ngFor="let group of secondaryCardGroups"
      [id]="group.id"
      class="group single-line"
      [ngClass]="
        isCardGroupNotEmpty(group)
          ? 'single-line--expanded'
          : 'single-line--collapsed'
      "
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="group.cards"
      [cdkDropListConnectedTo]="connectedCardGroupIds"
      (cdkDropListDropped)="drop($event)"
    >
      <app-drag-and-drop-card
        class="card"
        cdkDrag
        *ngFor="let card of group.cards; trackBy: trackById"
        [card]="card"
        [revocable]="true"
        (cardRevoked)="onCardRevoke($event, group.id)"
      ></app-drag-and-drop-card>
    </div>
  </div>
</div>
