.card-list {
  display: flex;
}

.single-line {
  &--collapsed {
    height: 75px;

    &.cdk-drop-list-dragging > .cdk-drag-placeholder {
      visibility: hidden;
    }
  }

  &--expanded {
    height: 240px; /* due to scroll on overflowing */
  }
  & + & {
    margin-top: 20px;
  }
}

.multi-line {
  min-height: 224px;
}

.group-wrapper + .group-wrapper {
  margin-left: 40px;
}

.group {
  padding: 5px;
  border: solid 2px #cccccc;
}

.drag-section {
  min-width: 175px;
  max-width: 500px;
}

.drop-section {
  flex: 1;
  min-width: 500px;

  & > .group {
    display: flex;
    overflow: auto;
    align-items: flex-start;
  }
}

.card {
  display: inline-block;
  margin: 5px;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drop-section > .cdk-drop-list-receiving {
  animation: border-pulsate 1.5s infinite;
}

.drop-section > .cdk-drop-list-dragging {
  border-color: #669999;
  overflow: hidden;
  background-color: #e0ebeb;
}

@keyframes border-pulsate {
  0% {
    border-color: rgba(204, 204, 204, 1);
  }
  50% {
    border-color: rgba(143, 143, 143, 1);
  }
  100% {
    border-color: rgba(204, 204, 204, 1);
  }
}
