<div class="card-list">
  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div
    class="group group-a"
    cdkDropList
    cdkDropListSortingDisabled
    #groupACardList="cdkDropList"
    [cdkDropListData]="groupACards"
    [cdkDropListConnectedTo]="[groupBCardList]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-drag-and-drop-card
      class="card"
      cdkDrag
      *ngFor="let card of groupACards; trackBy: trackById"
      [card]="card"
    ></app-drag-and-drop-card>
  </div>

  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div
    class="group group-b"
    cdkDropList
    cdkDropListOrientation="horizontal"
    #groupBCardList="cdkDropList"
    [cdkDropListData]="groupBCards"
    [cdkDropListConnectedTo]="[groupACardList]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-drag-and-drop-card
      class="card"
      *ngFor="let card of groupBCards; trackBy: trackById"
      [card]="card"
      [draggable]="false"
      [revocable]="true"
      (cardRevoked)="onCardRevoke($event)"
    ></app-drag-and-drop-card>
  </div>
</div>
