<div class="card-list">
  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div class="group-wrapper drag-section">
    <div
      id="{{ draggableCardGroup.id }}"
      class="group multi-line"
      cdkDropList
      cdkDropListSortingDisabled
      #draggableCardList="cdkDropList"
      [cdkDropListData]="draggableCardGroup.cards"
      [cdkDropListConnectedTo]="droppableCardGroupIds"
      (cdkDropListDropped)="drop($event)"
    >
      <app-drag-and-drop-card
        class="card"
        cdkDrag
        *ngFor="let card of draggableCardGroup.cards; trackBy: trackById"
        [card]="card"
      ></app-drag-and-drop-card>
    </div>
  </div>

  <!-- <pre>{{ groupACards | json }}</pre> -->
  <div class="group-wrapper drop-section">
    <div
      *ngFor="let group of droppableCardGroups"
      id="{{ group.id }}"
      class="group single-line"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="group.cards"
      [cdkDropListConnectedTo]="[draggableCardList]"
      (cdkDropListDropped)="drop($event)"
    >
      <app-drag-and-drop-card
        class="card"
        *ngFor="let card of group.cards; trackBy: trackById"
        [card]="card"
        [draggable]="false"
        [revocable]="true"
        (cardRevoked)="onCardRevoke($event, group.id)"
      ></app-drag-and-drop-card>
    </div>
  </div>
</div>
